body {
    background-color: lightgrey;
}

#chatbox {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

#input-message {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
}

#input-msg {
    position: relative;
    width: 95%;
}

#send-msg-btn {
    border: none;
    padding: 0px;
    background: none;
}

#send-msg-btn:hover {
    color: yellow;
}

button:active {
    color: yellow;
}

#messages {
    overflow-y: scroll;
}

#title-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger-title {
    color: rgb(224, 9, 9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.messenger-title-description {
    margin-left: 5px;
    color: blue;
    font-size: larger;
    font-style: italic;
}